.header-wrapper img {
    max-width: 50px;
    max-height: 50px;
    padding-left: 10px;
    transform: rotate(20deg);
}

.header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}