@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");

.checkbox-row-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item-wrapper {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 30px;
  height: 30px;
}

.list-item-text {
  padding-left: 25px;
}

.delete-button {
  background-color: crimson;
  width: 40px;
  margin-right: 10px;
}
