@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");
form {
  display: flex;
}

.task-input {
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 5px;
  border-width: 1px;
  font-family: "Taviraj", serif;
}

.task-input:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 241);
}

button {
  border: none;
  background-color: #1768ff;
  padding: 0.5rem;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 60px;
}

button:hover {
  background-color: rgb(12, 180, 12);
  cursor: pointer;
}