@import url("https://fonts.googleapis.com/css2?family=Taviraj&display=swap");
body {
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Taviraj", serif;
  background-color: rgb(243, 222, 182);
}

.app {
  display: grid;
  justify-items: center;
  align-items: center;
}

.tasklist {
  padding: 0;
}

.tasklist li {
  margin: 25px 0;
}